<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><%= localeData.site.name %> - <%= localeData.site.desc %></title>
  <link type="image/x-icon" rel="shortcut icon" href="/favicon.ico">
  <% if (isProd) { %>
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-140467706-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'UA-140467706-1');
  </script>
  <% } %>
</head>
<body>
  <div class="page">
    <div class="header">
      <div class="wrapper">
        <div class="site-name">
          <%= localeData.site.name %>
        </div>
        <ul class="nav">
          <li>
            <div class="select">
              <select class="lang-switch">
                <% locales.forEach(function (locale) { %>
                <option
                  value="<%= locale.name %>"
                  <% if (localeName === locale.name) { %>selected<% } %>
                >
                  <%= locale.label %>
                </option>
                <% }) %>
              </select>
              <span class="arrow"></span>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="hero">
      <div class="wrapper">
        <div class="aside">
          <img src="img/anim-logo.svg" width="200" alt="Logo" />
        </div>
        <div class="main">
          <h1><%= localeData.hero.title[0] %><br><%= localeData.hero.title[1] %></h1>
          <p class="links">
            <span class="github-btn">
              <a class="gh-btn" href="https://github.com/goproxyio/goproxy" target="_blank">
                <span class="icon icon-github gh-ico"></span>
                <span class="gh-text">Star</span>
              </a>
              <a class="gh-count" href="https://github.com/goproxyio/goproxy" target="_blank"></a>
            </span>
          </p>
        </div>
      </div>
    </div>
    <div class="usage">
      <div class="wrapper">
        <p><%= localeData.usage.text[0] %></p>
        <figure class="bash">
          <figcaption>
            <span class="platform">
              Bash <span class="icon icon-linux"></span>/<span class="icon icon-macos"></span>
            </span>
            <button class="copy-btn" data-target=".bash pre code" data-copied-text="<%= localeData.usage.copied %>">
              <span class="icon icon-copy"></span>
              <span class="btn-text"><%= localeData.usage.copy %></span>
            </button>
          </figcaption>
          <div class="solarized-dark" style="color: rgba(0, 0, 0, 0.85);">
            <pre style="display: block; overflow-x: auto; padding: 7px; background-color: rgb(0, 43, 54); background-image: none; color: rgb(131, 148, 150);"
            ><code><span style="color: rgb(88, 110, 117);"># <%= localeData.usage.comments[0] %></span>
<span>export</span> <span style="color: rgb(181, 137, 0);">GO111MODULE</span>=on
<span style="color: rgb(88, 110, 117);"># <%= localeData.usage.comments[1] %></span>
<span>export</span> <span style="color: rgb(181, 137, 0);">GOPROXY</span>=https://goproxy.io</code></pre></div>
        </figure>
        <p><%= localeData.usage.text[1] %></p>
        <p><%= localeData.usage.text[2] %></p>
        <figure class="powershell">
          <figcaption>
            <span class="platform">
              PowerShell <span class="icon icon-windows"></span>
            </span>
            <button class="copy-btn" data-target=".powershell pre code" data-copied-text="<%= localeData.usage.copied %>">
              <span class="icon icon-copy"></span>
              <span class="btn-text"><%= localeData.usage.copy %></span>
            </button>
          </figcaption>
          <div class="solarized-dark" style="color: rgba(0, 0, 0, 0.85);">
            <pre style="display: block; overflow-x: auto; padding: 7px; background-color: rgb(0, 43, 54); background-image: none; color: rgb(131, 148, 150);"
            ><code><span style="color: rgb(88, 110, 117);"># <%= localeData.usage.comments[0] %></span>
<span style="color: rgb(181, 137, 0);">$env:GO111MODULE</span>=on
<span style="color: rgb(88, 110, 117);"># <%= localeData.usage.comments[1] %></span>
<span style="color: rgb(181, 137, 0);">$env:GOPROXY</span>=https://goproxy.io</code></pre></div>
        </figure>
        <p><%= localeData.usage.text[3] %><%= localeData.usage.text[4] %></p>
        <p><%= localeData.usage.text[5] %></p>
        <figure class="bash">
          <figcaption>
            <span class="platform">
                Go version >= 1.13
            </span>
          </figcaption>
         
        <div class="solarized-dark" style="color: rgba(0, 0, 0, 0.85);">
            <pre style="display: block; overflow-x: auto; padding: 7px; background-color: rgb(0, 43, 54); background-image: none; color: rgb(131, 148, 150);"
            ><code><span style="color: rgb(181, 137, 0);">go env -w GOPROXY=https://goproxy.io,direct</span>
<span style="color: rgb(88, 110, 117);"># <%= localeData.usage.comments[2] %></span>
<span style="color: rgb(181, 137, 0);">go env -w GOPRIVATE=*.corp.example.com</span></code></pre>
        </div>
        </figure>
      </div>
    </div>
    <div class="highlights">
      <div class="wrapper">
        <% localeData.highlights.forEach(function (point) { %>
        <div class="point">
          <div>
            <span class="icon icon-<%= point.icon %>"></span>
          </div>
          <h2><%= point.title %></h2>
          <p><%= point.desc %></p>
        </div>
        <% }) %>
      </div>
    </div>
    <div class="showcases">
      <div class="wrapper">
        <h3><%= localeData.showcases.title %></h3>
        <p>
          <img src="img/users-map.svg" alt="Users map">
        </p>
      </div>
    </div>
    <div class="footer">
      <div class="wrapper">
        <p class="copyright">
          @<%= thisYear %> <a href="https://goproxy.io"><%= localeData.site.name %></a>.
          <%= localeData.footer.license %>
          <%= localeData.footer.logoCopyright %>
        </p>
      </div>
    </div>
  </div>
</body>
</html>
