<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><%= localeData.site.name %> - <%= localeData.site.desc %></title>
  <link type="image/x-icon" rel="shortcut icon" href="/favicon.ico">
  <% if (isProd) { %>
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-140467706-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'UA-140467706-1');
  </script>
  <% } %>
</head>
<body>
  <div class="page">
    <div class="header">
      <div class="wrapper">
        <h1 class="site-name">
          <a href="<%= localeData.site.baseUrl %>">
            <%= localeData.site.name %>
          </a>
        </h1>
        <ul class="nav">
          <% localeData.nav.forEach(function (item) { %>
            <li>
              <a href="<%= item.href %>" title="<%= item.title %>"><%= item.text %></a>
            </li>
          <% }) %>
          <li>
            <div class="select">
              <select class="lang-switch">
                <% locales.forEach(function (locale) { %>
                <option
                  value="<%= locale.name %>"
                  <% if (localeName === locale.name) { %>selected<% } %>
                >
                  <%= locale.label %>
                </option>
                <% }) %>
              </select>
              <span class="arrow"></span>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="product">
      <div class="wrapper">
        <h2 class="title"><%= localeData.product.title %></h2>
        <p class="desc">
          <%= localeData.product.desc %>
        </p>
        <ul class="product-list">
          <% localeData.product.products.forEach(function (item) { %>
          <li class="product-list-item">
            <div class="product-list-image">
              <img src="<%= item.image %>" />
            </div>
            <p class="product-list-title">
              <strong><%= item.title %></strong>
            </p>
          </li>
          <% }) %>
        </ul>
      </div>
    </div>
    <div class="footer">
      <div class="wrapper">
        <p class="copyright">
          @<%= thisYear %> <a href="https://goproxy.io"><%= localeData.site.name %></a>.
          <%= localeData.footer.license %>
          <%= localeData.footer.logoCopyright %>
        </p>
      </div>
    </div>
  </div>
</body>
</html>
